<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title fs-5" id="exampleModalLabel">Login</h1>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>

    <div class="modal-body">
      <form>
        <div class="form-group">
          <h5 for="InputEmail">ID</h5>
          <input type="text" class="form-control" id="InputEmail" aria-describedby="emailHelp">
          <p>We'll never share your email woth anyone else.</p>
        </div>
        <div class="form-group">
          <h5 for="InputPW">Password</h5>
          <input type="password" class="form-control" id="InputPW">
        </div>
      </form>
    </div>

    <div class="modal-footer mb-3">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      <button type="button" class="btn btn-primary">Submit</button>
    </div>
  </div>
</div>