{% extends "base.html" %} {% block content %}
<style>
  header {
    width: 100%;
  }

  @media (min-width: 1400px) {
    header {
      width: 1320px;
      margin-inline: auto;
    }
  }
</style>

{% load static %}
<header>
  <div id="Autoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="{% static 'images/header1.jpg' %}"
          class="d-block w-100"
          alt="header1"
        />
      </div>
      <div class="carousel-item">
        <img
          src="{% static 'images/header2.jpg' %}"
          class="d-block w-100"
          alt="header2"
        />
      </div>
      <div class="carousel-item">
        <img
          src="{% static 'images/header3.jpg' %}"
          class="d-block w-100"
          alt="header3"
        />
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#Autoplaying"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#Autoplaying"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</header>

<section>
  <div class="container mb-4">
    <h1 class="text-center m-5">Box Office</h1>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
      <div class="col">
        <div class="card">
          <img src="{% static 'images/movie1.jpg' %}" class="card-img-top" height="520px" alt="image"/>
          <div class="card-body">
            <h5 class="card-title">Movie title</h5>
            <p class="card-text">{% lorem 15 w %}</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="{% static 'images/movie2.jpg' %}" class="card-img-top" height="520px" alt="image"/>
          <div class="card-body">
            <h5 class="card-title">Movie title</h5>
            <p class="card-text">{% lorem 15 w %}</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="{% static 'images/movie3.jpg' %}" class="card-img-top" height="520px" alt="image"/>
          <div class="card-body">
            <h5 class="card-title">Movie title</h5>
            <p class="card-text">{% lorem 15 w %}</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="{% static 'images/movie4.jpg' %}" class="card-img-top" height="520px" alt="image"/>
          <div class="card-body">
            <h5 class="card-title">Movie title</h5>
            <p class="card-text">{% lorem 15 w %}</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="{% static 'images/movie5.jpg' %}" class="card-img-top" height="520px" alt="image"/>
          <div class="card-body">
            <h5 class="card-title">Movie title</h5>
            <p class="card-text">{% lorem 15 w %}</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="{% static 'images/movie6.jpg' %}" class="card-img-top" height="520px" alt="image"/>
          <div class="card-body">
            <h5 class="card-title">Movie title</h5>
            <p class="card-text">{% lorem 15 w %}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %}
