{% extends "base.html" %}
{% block content %}
<h1 class="text-center m-5">Community</h1>
<div class="container row m-auto">
  <aside class="col-12 col-lg-2">
    <ul class="list-group">
      <a href="#" class="list-group-item list-group-item-action">Box Office</a>
      <a href="#" class="list-group-item list-group-item-action">Movies</a>
      <a href="#" class="list-group-item list-group-item-action">Genres</a>
      <a href="#" class="list-group-item list-group-item-action">Actors</a>
    </ul>
  </aside>

  <section class="d-none d-lg-block col-lg-10">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">영화제목</th>
          <th scope="col">글 제목</th>
          <th scope="col">작성자</th>
          <th scope="col">작성 시간</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Greate Movie title</td>
          <td>Best Movie Ever</td>
          <td>user</td>
          <td>1 minutes ago</td>
        </tr>
        <tr>
          <td>Greate Movie title</td>
          <td>Movie Test</td>
          <td>user</td>
          <td>1 minutes ago</td>
        </tr>
        <tr>
          <td>Greate Movie title</td>
          <td>Movie Test</td>
          <td>user</td>
          <td>1 minutes ago</td>
        </tr>
        <tr>
          <td>Greate Movie title</td>
          <td>Movie Test</td>
          <td>user</td>
          <td>1 minutes ago</td>
        </tr>
        <tr>
          <td>Greate Movie title</td>
          <td>Movie Test</td>
          <td>user</td>
          <td>1 minutes ago</td>
        </tr>
        <tr>
          <td>Greate Movie title</td>
          <td>Movie Test</td>
          <td>user</td>
          <td>1 minutes ago</td>
        </tr>
        <tr>
          <td>Greate Movie title</td>
          <td>Movie Test</td>
          <td>user</td>
          <td>1 minutes ago</td>
        </tr>
        <tr>
          <td>Greate Movie title</td>
          <td>Movie Test</td>
          <td>user</td>
          <td>1 minutes ago</td>
        </tr>
        <tr>
          <td>Greate Movie title</td>
          <td>Movie Test</td>
          <td>user</td>
          <td>1 minutes ago</td>
        </tr>
      </tbody>
    </table>
  </section>

  <section class="d-lg-none mt-3">
    <hr>
    <article>
      <div class="d-flex justify-content-between pt-2 px-5">
        <h3>Best Movie Ever</h3>
        <p>user</p>
      </div>
      <h5 class="pt-2 ps-5">Great Movie Title</h5>
      <p class="pt-2 pb-3 ps-5">1 minute ago</p>
    </article>
    <hr>
    <article>
      <div class="d-flex justify-content-between pt-2 px-5">
        <h3>Movie Text</h3>
        <p>user</p>
      </div>
      <h5 class="pt-2 ps-5">Great Movie Title</h5>
      <p class="pt-2 pb-3 ps-5">1 minute ago</p>
    </article>
    <hr>
    <article>
      <div class="d-flex justify-content-between pt-2 px-5">
        <h3>Movie Text</h3>
        <p>user</p>
      </div>
      <h5 class="pt-2 ps-5">Great Movie Title</h5>
      <p class="pt-2 pb-3 ps-5">1 minute ago</p>
    </article>
  </section>
</div>

<div class="d-flex justify-content-center mt-4">
  <nav aria-label="Page navigation">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" href="#">Previous</a></li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
  </nav>
</div>
{% endblock content %}